# Second Data Preparation Process

In this notebook file, the dataset provided by the customer will be eddited for general purposes.

Features will be examined a little more deeply by focusing in particular on the data types of them.

In [1]:
#Libraries are being imported
import numpy as np
import pandas as pd

In [2]:
#Library versions are being printed
print('numpy Version: ' + np.__version__)
print('pandas Version: ' + pd.__version__)

numpy Version: 1.23.5
pandas Version: 1.5.2

In [3]:
#A pandas dataframe named as dataFrame is being created by reading the data pkl file created last process
dataFrame = pd.read_pickle("../Data/NeddedColumns/FabricWaste.pkl")
dataFrame.head()

,Product,Color,ProductDetail,FabricCode,FabricDetail,Weight,Width,ProductPart,NotchLayer,NotchQuantity,...,Repair,Delivery,PrintError,SewingError,FabricStain,FabricError,EmbroideryError,MeasureError,SecondQuality,Comment
0,M6030 JERSEY SHIRT LANGARM,PINIE,KADIN T-SHIRT,2SP050,NE 50/1 PNY 20DE - SUPREM A.EN 32 28 125 G/M2 ...,125,150,4,35,3,...,20,399,4.0,NaN,1.0,1.0,NaN,NaN,6,NaN
1,M6030 JERSEY SHIRT LANGARM,PFIRSICH,KADIN T-SHIRT,2SP050,NE 50/1 PNY 20DE - SUPREM A.EN 32 28 125 G/M2 ...,125,150,4,65,3,...,22,411,NaN,2.0,1.0,NaN,NaN,NaN,3,NaN
2,M6030 JERSEY SHIRT LANGARM,HELLBLAU,KADIN T-SHIRT,2SP050,NE 50/1 PNY 20DE - SUPREM A.EN 32 28 125 G/M2 ...,125,150,4,65,3,...,19,378,1.0,5.0,2.0,1.0,1.0,1.0,11,NaN
3,M6030 JERSEY SHIRT LANGARM,PETROLBLAU,KADIN T-SHIRT,2SP050,NE 50/1 PNY 20DE - SUPREM A.EN 32 28 125 G/M2 ...,125,150,4,65,3,...,18,406,NaN,4.0,2.0,2.0,NaN,NaN,8,NaN
4,M6030 JERSEY SHIRT LANGARM,AUBERGINE 2,KADIN T-SHIRT,2SP050,NE 50/1 PNY 20DE - SUPREM A.EN 32 28 125 G/M2 ...,125,150,4,65,3,...,16,411,NaN,3.0,NaN,NaN,NaN,NaN,3,NaN

In [4]:
#Information of dataFrame is being printed
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209 entries, 0 to 208
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Product          209 non-null    object
 1   Color            209 non-null    object
 2   ProductDetail    209 non-null    object
 3   FabricCode       209 non-null    object
 4   FabricDetail     209 non-null    object
 5   Weight           209 non-null    int64
 6   Width            209 non-null    object
 7   ProductPart      209 non-null    int64
 8   NotchLayer       209 non-null    object
 9   NotchQuantity    201 non-null    object
 10  OrderQuantity    209 non-null    int64
 11  Quantity         209 non-null    int64
 12  Repair           209 non-null    int64
 13  Delivery         209 non-null    int64
 14  PrintError       63 non-null     float64
 15  SewingError      190 non-null    float64
 16  FabricStain      42 non-null     float64
 17  FabricError      116 non-null    float64
 18  EmbroideryError  14 non-null     float64
 19  MeasureError     28 non-null     float64
 20  SecondQuality    209 non-null    int64
 21  Comment          3 non-null      object
dtypes: float64(6), int64(7), object(9)
memory usage: 36.0+ KB

In [5]:
#Statistical information of dataFrame is being printed
dataFrame.describe()

,Weight,ProductPart,OrderQuantity,Quantity,Repair,Delivery,PrintError,SewingError,FabricStain,FabricError,EmbroideryError,MeasureError,SecondQuality
count,209.000000,209.000000,209.000000,209.000000,209.000000,209.000000,63.000000,190.000000,42.000000,116.000000,14.000000,28.000000,209.000000
mean,171.985646,4.904306,525.167464,570.334928,8.095694,555.464115,16.079365,7.357895,3.119048,3.810345,3.357143,2.892857,14.880383
std,45.316778,2.417968,807.798585,885.772790,8.943758,860.813865,30.457957,9.545121,5.222850,5.797921,3.629095,2.439479,30.093605
min,125.000000,2.000000,100.000000,110.000000,0.000000,112.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,-1.000000
25%,125.000000,4.000000,210.000000,225.000000,3.000000,220.000000,2.000000,2.000000,1.000000,1.000000,1.250000,1.000000,4.000000
50%,175.000000,4.000000,270.000000,288.000000,6.000000,284.000000,6.000000,5.000000,1.500000,2.000000,2.000000,2.000000,7.000000
75%,190.000000,5.000000,400.000000,444.000000,9.000000,438.000000,15.500000,9.000000,2.750000,4.000000,3.750000,4.000000,12.000000
max,320.000000,14.000000,6000.000000,6605.000000,78.000000,6469.000000,201.000000,88.000000,29.000000,45.000000,15.000000,10.000000,311.000000

In [6]:
#The Product column is a string type attribute that contains the name of the product to be produced
#This attribute can be used as categorical data in its raw form or detailed information can be collected by processing it
#Since object data type is a good choice for data of this type, no action is required in this section
dataFrame['Product']

0                    M6030 JERSEY SHIRT LANGARM
1                    M6030 JERSEY SHIRT LANGARM
2                    M6030 JERSEY SHIRT LANGARM
3                    M6030 JERSEY SHIRT LANGARM
4                    M6030 JERSEY SHIRT LANGARM
                         ...
204          B1093 [BMW] ZIP HOODIE  MLAR DAMEN
205    B1094 [BMW] 02 MEN'S TSHIRT SPIRIT OF GS
206           B1095 [BMW] 03 TSHIRT JUMP OLIVE
207       B1096 [BMW] 05 TSHIRT GLORIOUS 4 BLAU
208         B1097 [BMW] 12 TSHIRT GS ROT DAMEN
Name: Product, Length: 209, dtype: object

In [7]:
#The Color column is a string type attribute that contains the color information of the product to be produced
#This attribute can be used as categorical data in its raw form or can be categorized for consideration in a broader context
#Since object data type is a good choice for data of this type, no action is required in this section
dataFrame['Color']

0               PINIE
1            PFIRSICH
2            HELLBLAU
3          PETROLBLAU
4         AUBERGINE 2
            ...
204        DEEP BLACK
205       BLACK OLIVE
206             THYME
207    BLUE WING TEAL
208     HIGH RISK RED
Name: Color, Length: 209, dtype: object

In [8]:
#The ProductDetail column is a string type attribute that contains the information of the product to be produced
#This attribute can be used as categorical data in its raw form or detailed information can be collected by processing it
#Since object data type is a good choice for data of this type, no action is required in this section
dataFrame['ProductDetail']

0      KADIN T-SHIRT
1      KADIN T-SHIRT
2      KADIN T-SHIRT
3      KADIN T-SHIRT
4      KADIN T-SHIRT
           ...
204      ERKEK SWEAT
205    ERKEK T-SHIRT
206    ERKEK T-SHIRT
207    ERKEK T-SHIRT
208    BAYAN T-SHIRT
Name: ProductDetail, Length: 209, dtype: object

In [9]:
#The FabricCode column is a string type attribute that contains the product code of the fabric to be used
#This attribute can be used as categorical data in its raw form
#Since object data type is a good choice for data of this type, no action is required in this section
dataFrame['FabricCode']

0      2SP050
1      2SP050
2      2SP050
3      2SP050
4      2SP050
        ...
204    2FT052
205    2SP192
206    2SP192
207    2SP192
208    2SP029
Name: FabricCode, Length: 209, dtype: object

In [10]:
#The FabricDetail column is a string type attribute that contains the detailed information about the fabric to be used
#This attribute can be used by processing the detailed information in it
#Since object data type is a good choice for data of this type, no action is required in this section
dataFrame['FabricDetail']

0      NE 50/1 PNY 20DE - SUPREM A.EN 32 28 125 G/M2 ...
1      NE 50/1 PNY 20DE - SUPREM A.EN 32 28 125 G/M2 ...
2      NE 50/1 PNY 20DE - SUPREM A.EN 32 28 125 G/M2 ...
3      NE 50/1 PNY 20DE - SUPREM A.EN 32 28 125 G/M2 ...
4      NE 50/1 PNY 20DE - SUPREM A.EN 32 28 125 G/M2 ...
                             ...
204    NE 30/1 30/1 10/1 PNY PNY KRD - KARB FUTTER 3 ...
205    NE 24/1 PNY - - SUPREM A.EN 32 28 175 G/M2 %10...
206    NE 24/1 PNY - - SUPREM A.EN 32 28 175 G/M2 %10...
207    NE 24/1 PNY - - SUPREM A.EN 32 28 175 G/M2 %10...
208    NE 30/1 PNY - - SUPREM A.EN 32 28 155 G/M2 %10...
Name: FabricDetail, Length: 209, dtype: object

In [11]:
#The Weight column is an integer type attribute that contains the weight of the product to be produced
#This attribute can be used in its raw form as a numeric attribute
#Since int64 data type is a good choice for data of this type, no action is required in this section
dataFrame['Weight']

0      125
1      125
2      125
3      125
4      125
      ...
204    320
205    175
206    175
207    175
208    155
Name: Weight, Length: 209, dtype: int64

In [12]:
#The Width column is an integer type attribute that contains the width of the fabric to be used
#This attribute can be used as a numeric attribute, but object data type is not a good choice for data of this type
#This attribute was not interpreted as integer when reading from pkl file via pandas library
#There must be a reason for this, this reason will be explored in this section
dataFrame['Width']

0      150
1      150
2      150
3      150
4      150
      ...
204    190
205    180
206    180
207    180
208    169
Name: Width, Length: 209, dtype: object

In [13]:
#Map of rows containing numeric value in the Width column are being calculated
columnMap = dataFrame.applymap(np.isreal)['Width']
columnMap

0      True
1      True
2      True
3      True
4      True
       ...
204    True
205    True
206    True
207    True
208    True
Name: Width, Length: 209, dtype: bool

In [14]:
#Rows containing non-numeric value in the Width column are being printed
dataFrame[~columnMap]['Width']

71     170 - 175
72     170 - 175
73     170 - 175
74     170 - 175
75     170 - 175
76     170 - 175
77     170 - 175
78     170 - 175
79     170 - 175
80     170 - 175
81     170 - 175
82     170 - 175
83     170 - 175
84     170 - 175
115    170 - 175
116    170 - 175
117    170 - 175
153    170 - 175
154    170 - 175
155    170 - 175
156    170 - 175
157    170 - 175
158    170 - 175
159    170 - 175
160    170 - 175
161    170 - 175
162    170 - 175
163    170 - 175
164    170 - 175
165    170 - 175
Name: Width, dtype: object

In [15]:
#When the data is examined, an integer range can be seen instead of an integer value
#This needs to be fixed as the attribute cannot be used as integer as such

#Considering the range is in min-max format, the arithmetic mean of the min and max values ((min + max) / 2)
#can be used as the numeric value for this attribute
dataFrame.loc[~columnMap, 'Width'] = dataFrame.loc[~columnMap, 'Width'].apply(
    lambda x : (int(x.split('-')[0]) + int(x.split('-')[1])) / 2)
dataFrame[~columnMap]['Width']

71     172.5
72     172.5
73     172.5
74     172.5
75     172.5
76     172.5
77     172.5
78     172.5
79     172.5
80     172.5
81     172.5
82     172.5
83     172.5
84     172.5
115    172.5
116    172.5
117    172.5
153    172.5
154    172.5
155    172.5
156    172.5
157    172.5
158    172.5
159    172.5
160    172.5
161    172.5
162    172.5
163    172.5
164    172.5
165    172.5
Name: Width, dtype: object

In [16]:
#Shape of rows containing non-numeric value in the Width column are being printed
dataFrame[~dataFrame.applymap(np.isreal)['Width']].shape

(0, 22)

In [17]:
#Since there is no non-numeric data for Width column it can be converted to int64 data type,
#numbers with commas will be rounded to floor integer
dataFrame['Width'] = pd.to_numeric(dataFrame['Width']).astype(np.int64)
dataFrame['Width']

0      150
1      150
2      150
3      150
4      150
      ...
204    190
205    180
206    180
207    180
208    169
Name: Width, Length: 209, dtype: int64

In [18]:
#The ProductPart column is an integer type attribute that contains
#the information of the number of parts contained in the product to be produced
#This attribute can be used in its raw form as a numeric attribute
#Since int64 data type is a good choice for data of this type, no action is required in this section
dataFrame['ProductPart']

0       4
1       4
2       4
3       4
4       4
       ..
204    13
205     4
206     4
207     4
208     5
Name: ProductPart, Length: 209, dtype: int64

In [19]:
#The NotchLayer column is an integer type attribute that contains the number of notch layers of the fabric to be used
#This attribute can be used as a numeric attribute, but object data type is not a good choice for data of this type
#This attribute was not interpreted as integer when reading from pkl file via pandas library
#There must be a reason for this, this reason will be explored in this section
dataFrame['NotchLayer']

0       35
1       65
2       65
3       65
4       65
      ...
204    145
205    420
206    350
207    430
208     75
Name: NotchLayer, Length: 209, dtype: object

In [20]:
#Map of rows containing numeric value in the NotchLayer column are being calculated
columnMap = dataFrame.applymap(np.isreal)['NotchLayer']
columnMap

0      True
1      True
2      True
3      True
4      True
       ...
204    True
205    True
206    True
207    True
208    True
Name: NotchLayer, Length: 209, dtype: bool

In [21]:
#Rows containing non-numeric value in the NotchLayer column are being printed
dataFrame[~columnMap]['NotchLayer']

51     Ã§izgili elde serim
64     Ã§izgili elde serim
65     Ã§izgili elde serim
66     Ã§izgili elde serim
115                     ?
116                     ?
117                     ?
118    Ã§izgili elde serim
119    Ã§izgili elde serim
120    Ã§izgili elde serim
121    Ã§izgili elde serim
Name: NotchLayer, dtype: object

In [22]:
#When the data is examined, it is seen that the non-numeric NotchLayer values takes two different values

#1) ?(Question Mark): This value indicates that the data in the relevant cell is unknown
#In such cases, the data can be cleared by completely deleting the rows of data that do not exist in the cell
#Or especially in such cases where the quantity of data is low 
#and each row is valuable, the relevant cells can be filled using statistical methods
#This method will be applied as no data rows are wanted to be lost in the current situation

#Map of rows containing value of '?' in the NotchLayer column are being calculated
columnMap = dataFrame['NotchLayer'] == '?'
columnMap

0      False
1      False
2      False
3      False
4      False
       ...
204    False
205    False
206    False
207    False
208    False
Name: NotchLayer, Length: 209, dtype: bool

In [23]:
#Rows containing value of '?' in the NotchLayer column are being printed
dataFrame[columnMap]['NotchLayer']

115    ?
116    ?
117    ?
Name: NotchLayer, dtype: object

In [24]:
#cells containing '?' in the NotchLayer column are filled with the mean value of numeric values in the NotchLayer column
dataFrame.loc[columnMap, 'NotchLayer'] =  dataFrame[dataFrame.applymap(np.isreal)['NotchLayer']]['NotchLayer'].mean()
dataFrame[columnMap]['NotchLayer']

115    66.69697
116    66.69697
117    66.69697
Name: NotchLayer, dtype: object

In [25]:
#Map of rows containing numeric value in the NotchLayer column are being calculated
columnMap = dataFrame.applymap(np.isreal)['NotchLayer']
columnMap

0      True
1      True
2      True
3      True
4      True
       ...
204    True
205    True
206    True
207    True
208    True
Name: NotchLayer, Length: 209, dtype: bool

In [26]:
#Rows containing non-numeric value in the NotchLayer column are being printed
dataFrame[~columnMap][['NotchLayer', 'NotchQuantity']]

             NotchLayer NotchQuantity
51   Ã§izgili elde serim           NaN
64   Ã§izgili elde serim           NaN
65   Ã§izgili elde serim           NaN
66   Ã§izgili elde serim           NaN
118  Ã§izgili elde serim           NaN
119  Ã§izgili elde serim           NaN
120  Ã§izgili elde serim           NaN
121  Ã§izgili elde serim           NaN

In [27]:
#2) sentence: this value is a sentence in Turkish
#This sentence can be interpreted as the NotchLayer data loses its meaning because some operations are done manually
#It also seems that the NotchQuantity data loses its meaning
#This proves that NotchLayer and NotchQuantity data are two variables of the same process

#In cases where these two attributes become meaningless, these values will be set to 0
#and an extra attribute will be defined to indicate that these values become meaningless / a different operation is applied
dataFrame.loc[~columnMap, 'NotchLayer'] = 0
dataFrame.loc[~columnMap, 'NotchQuantity'] = 0
dataFrame.insert(loc=5, column='IsManualProcess', value=~columnMap)
dataFrame[~columnMap][['IsManualProcess', 'NotchLayer', 'NotchQuantity']]

     IsManualProcess NotchLayer NotchQuantity
51              True          0             0
64              True          0             0
65              True          0             0
66              True          0             0
118             True          0             0
119             True          0             0
120             True          0             0
121             True          0             0

In [28]:
#Map of rows containing numeric value in the NotchLayer column are being calculated
columnMap = dataFrame.applymap(np.isreal)['NotchLayer']
columnMap

0      True
1      True
2      True
3      True
4      True
       ...
204    True
205    True
206    True
207    True
208    True
Name: NotchLayer, Length: 209, dtype: bool

In [29]:
#Rows containing non-numeric value in the NotchLayer column are being printed
dataFrame[~columnMap].shape

(0, 23)

In [30]:
#Since there is no non-numeric data for NotchLayer column it can be converted to int64 data type,
#numbers with commas will be rounded to floor integer
dataFrame['NotchLayer'] = pd.to_numeric(dataFrame['NotchLayer']).astype(np.int64)
dataFrame['NotchLayer']

0       35
1       65
2       65
3       65
4       65
      ...
204    145
205    420
206    350
207    430
208     75
Name: NotchLayer, Length: 209, dtype: int64

In [31]:
#New boolean type column added is being printed
dataFrame['IsManualProcess']

0      False
1      False
2      False
3      False
4      False
       ...
204    False
205    False
206    False
207    False
208    False
Name: IsManualProcess, Length: 209, dtype: bool

In [32]:
#The NotchQuantity column is an integer type attribute that contains the number of notch of the fabric to be used
#This attribute can be used as a numeric attribute, but object data type is not a good choice for data of this type
#This attribute was not interpreted as integer when reading from pkl file via pandas library
#There must be a reason for this, this reason will be explored in this section
dataFrame['NotchQuantity']

0       3
1       3
2       3
3       3
4       3
       ..
204     5
205     9
206     9
207    10
208     3
Name: NotchQuantity, Length: 209, dtype: object

In [33]:
#NotchQuantity column was partially edited when editing Notch Layer column
#At this stage, the NotchQuantity column will be checked again and the necessary actions will be taken

#Map of rows containing numeric value in the NotchQuantity column are being calculated
columnMap = dataFrame.applymap(np.isreal)['NotchQuantity']
columnMap

0      True
1      True
2      True
3      True
4      True
       ...
204    True
205    True
206    True
207    True
208    True
Name: NotchQuantity, Length: 209, dtype: bool

In [34]:
#Rows containing non-numeric value in the NotchQuantity column are being printed
dataFrame[~columnMap]['NotchQuantity']

115    ?
116    ?
117    ?
Name: NotchQuantity, dtype: object

In [35]:
#As can be seen, all of the non-numeric cells contains '?' value
#cells containing '?' in the NotchQuantity column are filled with the mean value of numeric values in the NotchQuantity column
dataFrame.loc[~columnMap, 'NotchQuantity'] =  dataFrame[columnMap]['NotchQuantity'].mean()
dataFrame[~columnMap]['NotchQuantity']

115    2.854369
116    2.854369
117    2.854369
Name: NotchQuantity, dtype: object

In [36]:
#Map of rows containing numeric value in the NotchLayer column are being calculated
columnMap = dataFrame.applymap(np.isreal)['NotchQuantity']
columnMap

0      True
1      True
2      True
3      True
4      True
       ...
204    True
205    True
206    True
207    True
208    True
Name: NotchQuantity, Length: 209, dtype: bool

In [37]:
#Rows containing non-numeric value in the NotchQuantity column are being printed
dataFrame[~columnMap].shape

(0, 23)

In [38]:
#Since there is no non-numeric data for NotchQuantity column it can be converted to int64 data type,
#numbers with commas will be rounded to floor integer
dataFrame['NotchQuantity'] = pd.to_numeric(dataFrame['NotchQuantity']).astype(np.int64)
dataFrame['NotchQuantity']

0       3
1       3
2       3
3       3
4       3
       ..
204     5
205     9
206     9
207    10
208     3
Name: NotchQuantity, Length: 209, dtype: int64

In [39]:
#The OrderQuantity column is an integer type attribute that contains the number of products ordered
#This attribute can be used in its raw form as a numeric attribute
#Since int64 data type is a good choice for data of this type, no action is required in this section
dataFrame['OrderQuantity']

0       375
1       375
2       375
3       375
4       375
       ...
204    1545
205    4395
206    3900
207    4500
208     805
Name: OrderQuantity, Length: 209, dtype: int64

In [40]:
#The Quantity column is an integer type attribute that contains the number of products produced
#This attribute will be used to produce the data to be predicted(output)
#Since int64 data type is a good choice for data of this type, no action is required in this section
dataFrame['Quantity']

0       405
1       414
2       389
3       414
4       414
       ...
204    1710
205    4834
206    4291
207    4952
208     898
Name: Quantity, Length: 209, dtype: int64

In [41]:
#The Repair column is an integer type attribute that contains the number of defective products which successfully repaired
#This attribute will be used to produce the data to be predicted(output)
#Since int64 data type is a good choice for data of this type, no action is required in this section
dataFrame['Repair']

0      20
1      22
2      19
3      18
4      16
       ..
204    14
205    22
206    34
207    52
208     3
Name: Repair, Length: 209, dtype: int64

In [42]:
#The Delivery column is an integer type attribute that contains
#the number of products that has quality which can be delivered to the customer
#This attribute will be used to produce the data to be predicted(output)
#Since int64 data type is a good choice for data of this type, no action is required in this section
dataFrame['Delivery']

0       399
1       411
2       378
3       406
4       411
       ...
204    1702
205    4703
206    4213
207    4641
208     882
Name: Delivery, Length: 209, dtype: int64

In [43]:
#The PrintError column is an integer type attribute that contains the number of products
#that cannot reach the quality that can be delivered to the customer even after repair becouse of Print Eror
#This attribute will be used to produce the data to be predicted(output)

#When information of dataFrame is examined, it can be seen that there are null values for this attribute
#however, null values for this attribute can simply evaluate to 0

#Since float64 data type is not a good choice for data of this type, also type casting will be applied for this attribute
dataFrame['PrintError'] = dataFrame['PrintError'].fillna(0).astype(np.int64)
dataFrame['PrintError']

0        4
1        0
2        1
3        0
4        0
      ...
204      2
205     99
206     28
207    201
208      9
Name: PrintError, Length: 209, dtype: int64

In [44]:
#The SewingError column is an integer type attribute that contains the number of products
#that cannot reach the quality that can be delivered to the customer even after repair becouse of Sewing Error
#This attribute will be used to produce the data to be predicted(output)

#When information of dataFrame is examined, it can be seen that there are null values for this attribute
#however, null values for this attribute can simply evaluate to 0

#Since float64 data type is not a good choice for data of this type, also type casting will be applied for this attribute
dataFrame['SewingError'] = dataFrame['SewingError'].fillna(0).astype(np.int64)
dataFrame['SewingError']

0       0
1       2
2       5
3       4
4       3
       ..
204     6
205    27
206    38
207    88
208     6
Name: SewingError, Length: 209, dtype: int64

In [45]:
#The FabricStain column is an integer type attribute that contains the number of products
#that cannot reach the quality that can be delivered to the customer even after repair becouse of Fabric Stain
#This attribute will be used to produce the data to be predicted(output)

#When information of dataFrame is examined, it can be seen that there are null values for this attribute
#however, null values for this attribute can simply evaluate to 0

#Since float64 data type is not a good choice for data of this type, also type casting will be applied for this attribute
dataFrame['FabricStain'] = dataFrame['FabricStain'].fillna(0).astype(np.int64)
dataFrame['FabricStain']

0       1
1       1
2       2
3       2
4       0
       ..
204     0
205     2
206     2
207    19
208     0
Name: FabricStain, Length: 209, dtype: int64

In [46]:
#The FabricError column is an integer type attribute that contains the number of products
#that cannot reach the quality that can be delivered to the customer even after repair becouse of Fabric Error
#This attribute will be used to produce the data to be predicted(output)

#When information of dataFrame is examined, it can be seen that there are null values for this attribute
#however, null values for this attribute can simply evaluate to 0

#Since float64 data type is not a good choice for data of this type, also type casting will be applied for this attribute
dataFrame['FabricError'] = dataFrame['FabricError'].fillna(0).astype(np.int64)
dataFrame['FabricError']

0       1
1       0
2       1
3       2
4       0
       ..
204     0
205     3
206    10
207     2
208     1
Name: FabricError, Length: 209, dtype: int64

In [47]:
#The EmbroideryError column is an integer type attribute that contains the number of products
#that cannot reach the quality that can be delivered to the customer even after repair becouse of Embroidery Error
#This attribute will be used to produce the data to be predicted(output)

#When information of dataFrame is examined, it can be seen that there are null values for this attribute
#however, null values for this attribute can simply evaluate to 0

#Since float64 data type is not a good choice for data of this type, also type casting will be applied for this attribute
dataFrame['EmbroideryError'] = dataFrame['EmbroideryError'].fillna(0).astype(np.int64)
dataFrame['EmbroideryError']

0      0
1      0
2      1
3      0
4      0
      ..
204    0
205    0
206    0
207    0
208    0
Name: EmbroideryError, Length: 209, dtype: int64

In [48]:
#The MeasureError column is an integer type attribute that contains the number of products
#that cannot reach the quality that can be delivered to the customer even after repair becouse of Measure Error
#This attribute will be used to produce the data to be predicted(output)

#When information of dataFrame is examined, it can be seen that there are null values for this attribute
#however, null values for this attribute can simply evaluate to 0

#Since float64 data type is not a good choice for data of this type, also type casting will be applied for this attribute
dataFrame['MeasureError'] = dataFrame['MeasureError'].fillna(0).astype(np.int64)
dataFrame['MeasureError']

0      0
1      0
2      1
3      0
4      0
      ..
204    0
205    0
206    0
207    1
208    0
Name: MeasureError, Length: 209, dtype: int64

In [49]:
#The SecondQuality column is an integer type attribute that contains
#the number of products that cannot reach the quality that can be delivered to the customer even after repair
#This attribute will be used to produce the data to be predicted(output)
#Since int64 data type is a good choice for data of this type, no action is required in this section
dataFrame['SecondQuality']

0        6
1        3
2       11
3        8
4        3
      ...
204      8
205    131
206     78
207    311
208     16
Name: SecondQuality, Length: 209, dtype: int64

In [50]:
#Information of dataframe is being printed
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209 entries, 0 to 208
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Product          209 non-null    object
 1   Color            209 non-null    object
 2   ProductDetail    209 non-null    object
 3   FabricCode       209 non-null    object
 4   FabricDetail     209 non-null    object
 5   IsManualProcess  209 non-null    bool
 6   Weight           209 non-null    int64
 7   Width            209 non-null    int64
 8   ProductPart      209 non-null    int64
 9   NotchLayer       209 non-null    int64
 10  NotchQuantity    209 non-null    int64
 11  OrderQuantity    209 non-null    int64
 12  Quantity         209 non-null    int64
 13  Repair           209 non-null    int64
 14  Delivery         209 non-null    int64
 15  PrintError       209 non-null    int64
 16  SewingError      209 non-null    int64
 17  FabricStain      209 non-null    int64
 18  FabricError      209 non-null    int64
 19  EmbroideryError  209 non-null    int64
 20  MeasureError     209 non-null    int64
 21  SecondQuality    209 non-null    int64
 22  Comment          3 non-null      object
dtypes: bool(1), int64(16), object(6)
memory usage: 36.3+ KB

In [51]:
#Statistical information of dataframe is being printed
dataFrame.describe()

,Weight,Width,ProductPart,NotchLayer,NotchQuantity,OrderQuantity,Quantity,Repair,Delivery,PrintError,SewingError,FabricStain,FabricError,EmbroideryError,MeasureError,SecondQuality
count,209.000000,209.000000,209.000000,209.000000,209.000000,209.000000,209.000000,209.000000,209.000000,209.000000,209.000000,209.000000,209.000000,209.000000,209.000000,209.000000
mean,171.985646,161.717703,4.904306,64.133971,2.842105,525.167464,570.334928,8.095694,555.464115,4.846890,6.688995,0.626794,2.114833,0.224880,0.387560,14.880383
std,45.316778,17.010227,2.417968,73.222338,1.577775,807.798585,885.772790,8.943758,860.813865,18.199628,9.342517,2.635638,4.710485,1.237302,1.322163,30.093605
min,125.000000,120.000000,2.000000,0.000000,0.000000,100.000000,110.000000,0.000000,112.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000
25%,125.000000,150.000000,4.000000,33.000000,2.000000,210.000000,225.000000,3.000000,220.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,4.000000
50%,175.000000,165.000000,4.000000,44.000000,3.000000,270.000000,288.000000,6.000000,284.000000,0.000000,4.000000,0.000000,1.000000,0.000000,0.000000,7.000000
75%,190.000000,172.000000,5.000000,67.000000,3.000000,400.000000,444.000000,9.000000,438.000000,2.000000,9.000000,0.000000,2.000000,0.000000,0.000000,12.000000
max,320.000000,195.000000,14.000000,610.000000,14.000000,6000.000000,6605.000000,78.000000,6469.000000,201.000000,88.000000,29.000000,45.000000,15.000000,10.000000,311.000000

In [52]:
#When statistical information of dataFrame is examined,
#it can be seen that the minimum SecondQuality value is -1 which is meaningless

#Because SecondQuality value indicates that how many products are of a quality that cannot be delivered to customer
#It doesn't make much sense that -1 products were produced with a defect.

#Let's take a look at the situation
mask = dataFrame['SecondQuality'] < 0
dataFrame[mask][['SecondQuality', 'Comment']]

     SecondQuality                  Comment
121             -1  numune sipariÅŸe eklendi
200             -1  numune sipariÅŸe eklendi

In [53]:
#This was addressed in the PreAnalysis section and communicated to the customer who provided the data
#Since this affects the reliability of the data to be predicted,
#the customer has examined the data and added a new column to the excel file
#this column named as Comment is a description attribute written for rows which contains such data

#In the PreAnalysis section, 
#this was interpreted as the surplus products from previous orders may have been added to these orders
#According to the comment that the customer added in the Comment column, this is very close to this assumption
#The only difference is the products added are sample products not surplus products from previous orders
#The comment in the comment column is the Turkish explanation of this situation

#Rows with non-null comment attribute are being printed
mask = dataFrame['Comment'].notnull()
dataFrame[mask][['SecondQuality', 'Comment']]

     SecondQuality                     Comment
121             -1     numune sipariÅŸe eklendi
175              0  Numuneler sipariÅŸe eklendi
200             -1     numune sipariÅŸe eklendi

In [54]:
#These rows are being removed from the dataFrame as there are only three rows with non-null comment
#and these rows do not contain reliable output values suitable for prediction
dataFrame = dataFrame[~mask]
dataFrame

,Product,Color,ProductDetail,FabricCode,FabricDetail,IsManualProcess,Weight,Width,ProductPart,NotchLayer,...,Repair,Delivery,PrintError,SewingError,FabricStain,FabricError,EmbroideryError,MeasureError,SecondQuality,Comment
0,M6030 JERSEY SHIRT LANGARM,PINIE,KADIN T-SHIRT,2SP050,NE 50/1 PNY 20DE - SUPREM A.EN 32 28 125 G/M2 ...,False,125,150,4,35,...,20,399,4,0,1,1,0,0,6,NaN
1,M6030 JERSEY SHIRT LANGARM,PFIRSICH,KADIN T-SHIRT,2SP050,NE 50/1 PNY 20DE - SUPREM A.EN 32 28 125 G/M2 ...,False,125,150,4,65,...,22,411,0,2,1,0,0,0,3,NaN
2,M6030 JERSEY SHIRT LANGARM,HELLBLAU,KADIN T-SHIRT,2SP050,NE 50/1 PNY 20DE - SUPREM A.EN 32 28 125 G/M2 ...,False,125,150,4,65,...,19,378,1,5,2,1,1,1,11,NaN
3,M6030 JERSEY SHIRT LANGARM,PETROLBLAU,KADIN T-SHIRT,2SP050,NE 50/1 PNY 20DE - SUPREM A.EN 32 28 125 G/M2 ...,False,125,150,4,65,...,18,406,0,4,2,2,0,0,8,NaN
4,M6030 JERSEY SHIRT LANGARM,AUBERGINE 2,KADIN T-SHIRT,2SP050,NE 50/1 PNY 20DE - SUPREM A.EN 32 28 125 G/M2 ...,False,125,150,4,65,...,16,411,0,3,0,0,0,0,3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,B1093 [BMW] ZIP HOODIE MLAR DAMEN,DEEP BLACK,ERKEK SWEAT,2FT052,NE 30/1 30/1 10/1 PNY PNY KRD - KARB FUTTER 3 ...,False,320,190,13,145,...,14,1702,2,6,0,0,0,0,8,NaN
205,B1094 [BMW] 02 MEN'S TSHIRT SPIRIT OF GS,BLACK OLIVE,ERKEK T-SHIRT,2SP192,NE 24/1 PNY - - SUPREM A.EN 32 28 175 G/M2 %10...,False,175,180,4,420,...,22,4703,99,27,2,3,0,0,131,NaN
206,B1095 [BMW] 03 TSHIRT JUMP OLIVE,THYME,ERKEK T-SHIRT,2SP192,NE 24/1 PNY - - SUPREM A.EN 32 28 175 G/M2 %10...,False,175,180,4,350,...,34,4213,28,38,2,10,0,0,78,NaN
207,B1096 [BMW] 05 TSHIRT GLORIOUS 4 BLAU,BLUE WING TEAL,ERKEK T-SHIRT,2SP192,NE 24/1 PNY - - SUPREM A.EN 32 28 175 G/M2 %10...,False,175,180,4,430,...,52,4641,201,88,19,2,0,1,311,NaN
208,B1097 [BMW] 12 TSHIRT GS ROT DAMEN,HIGH RISK RED,BAYAN T-SHIRT,2SP029,NE 30/1 PNY - - SUPREM A.EN 32 28 155 G/M2 %10...,False,155,169,5,75,...,3,882,9,6,0,1,0,0,16,NaN

In [55]:
#Rows with non-null comment attribute are being printed
mask = dataFrame['Comment'].notnull()
dataFrame[mask].shape

(0, 23)

In [56]:
#Since the operations with the comment attribute within the scope of this project are completed
#Comment column is being removed
dataFrame.drop('Comment', axis = 1, inplace = True)
dataFrame.head()

,Product,Color,ProductDetail,FabricCode,FabricDetail,IsManualProcess,Weight,Width,ProductPart,NotchLayer,...,Quantity,Repair,Delivery,PrintError,SewingError,FabricStain,FabricError,EmbroideryError,MeasureError,SecondQuality
0,M6030 JERSEY SHIRT LANGARM,PINIE,KADIN T-SHIRT,2SP050,NE 50/1 PNY 20DE - SUPREM A.EN 32 28 125 G/M2 ...,False,125,150,4,35,...,405,20,399,4,0,1,1,0,0,6
1,M6030 JERSEY SHIRT LANGARM,PFIRSICH,KADIN T-SHIRT,2SP050,NE 50/1 PNY 20DE - SUPREM A.EN 32 28 125 G/M2 ...,False,125,150,4,65,...,414,22,411,0,2,1,0,0,0,3
2,M6030 JERSEY SHIRT LANGARM,HELLBLAU,KADIN T-SHIRT,2SP050,NE 50/1 PNY 20DE - SUPREM A.EN 32 28 125 G/M2 ...,False,125,150,4,65,...,389,19,378,1,5,2,1,1,1,11
3,M6030 JERSEY SHIRT LANGARM,PETROLBLAU,KADIN T-SHIRT,2SP050,NE 50/1 PNY 20DE - SUPREM A.EN 32 28 125 G/M2 ...,False,125,150,4,65,...,414,18,406,0,4,2,2,0,0,8
4,M6030 JERSEY SHIRT LANGARM,AUBERGINE 2,KADIN T-SHIRT,2SP050,NE 50/1 PNY 20DE - SUPREM A.EN 32 28 125 G/M2 ...,False,125,150,4,65,...,414,16,411,0,3,0,0,0,0,3

In [57]:
#Information of dataframe is being printed
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 206 entries, 0 to 208
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Product          206 non-null    object
 1   Color            206 non-null    object
 2   ProductDetail    206 non-null    object
 3   FabricCode       206 non-null    object
 4   FabricDetail     206 non-null    object
 5   IsManualProcess  206 non-null    bool
 6   Weight           206 non-null    int64
 7   Width            206 non-null    int64
 8   ProductPart      206 non-null    int64
 9   NotchLayer       206 non-null    int64
 10  NotchQuantity    206 non-null    int64
 11  OrderQuantity    206 non-null    int64
 12  Quantity         206 non-null    int64
 13  Repair           206 non-null    int64
 14  Delivery         206 non-null    int64
 15  PrintError       206 non-null    int64
 16  SewingError      206 non-null    int64
 17  FabricStain      206 non-null    int64
 18  FabricError      206 non-null    int64
 19  EmbroideryError  206 non-null    int64
 20  MeasureError     206 non-null    int64
 21  SecondQuality    206 non-null    int64
dtypes: bool(1), int64(16), object(5)
memory usage: 35.6+ KB

In [58]:
#Statistical information of dataframe is being printed
dataFrame.describe()

,Weight,Width,ProductPart,NotchLayer,NotchQuantity,OrderQuantity,Quantity,Repair,Delivery,PrintError,SewingError,FabricStain,FabricError,EmbroideryError,MeasureError,SecondQuality
count,206.000000,206.000000,206.000000,206.000000,206.000000,206.000000,206.000000,206.000000,206.000000,206.000000,206.000000,206.000000,206.000000,206.000000,206.000000,206.000000
mean,171.601942,161.451456,4.902913,64.621359,2.864078,528.956311,574.305825,8.179612,559.199029,4.917476,6.786408,0.635922,2.145631,0.228155,0.393204,15.106796
std,45.318459,16.988808,2.433564,73.558421,1.571382,812.807992,891.308093,8.979205,866.214970,18.322796,9.375266,2.653754,4.737824,1.246021,1.330964,30.253696
min,125.000000,120.000000,2.000000,0.000000,0.000000,150.000000,148.000000,0.000000,134.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,125.000000,150.000000,4.000000,33.000000,2.000000,210.000000,225.750000,3.000000,220.250000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,4.000000
50%,175.000000,165.000000,4.000000,44.000000,3.000000,275.000000,289.000000,6.000000,284.500000,0.000000,4.000000,0.000000,1.000000,0.000000,0.000000,7.500000
75%,190.000000,172.000000,5.000000,66.750000,3.000000,400.000000,443.500000,9.000000,437.750000,2.000000,9.000000,0.000000,2.000000,0.000000,0.000000,12.750000
max,320.000000,195.000000,14.000000,610.000000,14.000000,6000.000000,6605.000000,78.000000,6469.000000,201.000000,88.000000,29.000000,45.000000,15.000000,10.000000,311.000000

In [59]:
#dataFrame cleaned of columns that will not be used is being saved as pkl file
dataFrame.to_pickle("../Data/CleanedData/FabricWaste.pkl")